[*.cs]

# Default severity for analyzer diagnostics with category 'StyleCop.CSharp.SpacingRules'
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.SpacingRules.severity = none

# Default severity for all analyzer diagnostics
dotnet_analyzer_diagnostic.severity = none
dotnet_diagnostic.CA1001.severity=warning
dotnet_diagnostic.CA1309.severity=warning
dotnet_diagnostic.CA1507.severity=warning
dotnet_diagnostic.CA1820.severity=warning
dotnet_diagnostic.SA1600.severity=warning
dotnet_diagnostic.SA1611.severity=warning
dotnet_diagnostic.SA1614.severity=warning
dotnet_diagnostic.SA1615.severity=warning
dotnet_diagnostic.SA1617.severity=suggestion
dotnet_diagnostic.SA1618.severity=warning
dotnet_diagnostic.SA1620.severity=suggestion
dotnet_diagnostic.SA1621.severity=warning
dotnet_diagnostic.SA1627.severity=warning
dotnet_diagnostic.SA1623.severity=warning
dotnet_diagnostic.SA1622.severity=warning
dotnet_diagnostic.SA1629.severity=warning
dotnet_diagnostic.SA1642.severity=warning
dotnet_diagnostic.SA1643.severity=warning
dotnet_diagnostic.SA1649.severity=warning
dotnet_diagnostic.SA1500.severity=warning
dotnet_diagnostic.SA1505.severity=warning
dotnet_diagnostic.SA1507.severity=warning
dotnet_diagnostic.SA1508.severity=warning
dotnet_diagnostic.SA1509.severity=warning
dotnet_diagnostic.SA1512.severity=suggestion
dotnet_diagnostic.SA1513.severity=warning
dotnet_diagnostic.SA1517.severity=warning
dotnet_diagnostic.SA1518.severity=warning
dotnet_diagnostic.SA1519.severity=warning
dotnet_diagnostic.SA1520.severity=warning
dotnet_diagnostic.SA1119.severity=suggestion
dotnet_diagnostic.SA1119_p.severity=suggestion
dotnet_diagnostic.SA1400.severity=warning
dotnet_diagnostic.SA1401.severity=warning
dotnet_diagnostic.SA1403.severity=suggestion
dotnet_diagnostic.SA1407.severity=warning
dotnet_diagnostic.SA1303.severity=warning
dotnet_diagnostic.SA1302.severity=warning
dotnet_diagnostic.SA1306.severity=warning
dotnet_diagnostic.SA1308.severity=warning
dotnet_diagnostic.SA1312.severity=warning
dotnet_diagnostic.SA1313.severity=warning
dotnet_diagnostic.SX1309S.severity=silent
dotnet_diagnostic.SA1311.severity=warning
dotnet_diagnostic.SA1203.severity=warning
dotnet_diagnostic.SA1204.severity=warning
dotnet_diagnostic.SA1207.severity=warning
dotnet_diagnostic.SA1209.severity=warning
dotnet_diagnostic.SA1210.severity=warning
dotnet_diagnostic.SA1211.severity=warning
dotnet_diagnostic.SA1214.severity=warning
dotnet_diagnostic.SA1216.severity=warning
dotnet_diagnostic.SA1217.severity=warning
dotnet_diagnostic.SA1402.severity=suggestion
dotnet_diagnostic.SA1307.severity=suggestion
dotnet_diagnostic.SA1106.severity=warning
dotnet_diagnostic.SA1107.severity=warning
dotnet_diagnostic.SA1110.severity=warning
dotnet_diagnostic.SA1111.severity=warning
dotnet_diagnostic.SA1114.severity=warning
dotnet_diagnostic.SA1120.severity=warning
dotnet_diagnostic.SA1122.severity=warning
dotnet_diagnostic.SA1125.severity=suggestion
dotnet_diagnostic.SA1130.severity=suggestion
dotnet_diagnostic.SA1131.severity=suggestion
dotnet_diagnostic.SA1132.severity=warning
dotnet_diagnostic.SA1134.severity=warning
dotnet_diagnostic.SA1135.severity=warning
dotnet_diagnostic.SA1136.severity=warning
dotnet_diagnostic.SA1137.severity=warning
dotnet_diagnostic.SA1413.severity=warning
dotnet_diagnostic.SX1101.severity=suggestion
dotnet_diagnostic.SA1000.severity=silent
dotnet_diagnostic.SA1001.severity=warning
dotnet_diagnostic.SA1002.severity=warning
dotnet_diagnostic.SA1003.severity=silent
dotnet_diagnostic.SA1008.severity=warning
dotnet_diagnostic.SA1009.severity=warning
dotnet_diagnostic.SA1012.severity=warning
dotnet_diagnostic.SA1013.severity=warning
dotnet_diagnostic.SA1024.severity=warning
dotnet_diagnostic.SA1025.severity=warning
dotnet_diagnostic.SA1027.severity=silent
dotnet_diagnostic.SA0001.severity=warning
dotnet_diagnostic.CA2200.severity=suggestion
dotnet_diagnostic.CA2244.severity=warning

[*.vb]
dotnet_diagnostic.CA1047.severity=warning
[*.{cs,vb}]
dotnet_diagnostic.CA1000.severity=warning
dotnet_diagnostic.CA1018.severity=warning
dotnet_diagnostic.CA1041.severity=warning
dotnet_diagnostic.CA1051.severity=warning
dotnet_diagnostic.CA1061.severity=warning
dotnet_diagnostic.CA1067.severity=warning
dotnet_diagnostic.CA1068.severity=suggestion
dotnet_diagnostic.CA1069.severity=error
dotnet_diagnostic.CA1304.severity=warning
dotnet_diagnostic.CA1305.severity=suggestion
dotnet_diagnostic.CA1310.severity=warning
dotnet_diagnostic.CA1716.severity=warning
dotnet_diagnostic.CA1805.severity=warning
dotnet_diagnostic.CA1821.severity=warning
dotnet_diagnostic.CA1822.severity=suggestion
dotnet_diagnostic.CA1823.severity=warning
dotnet_diagnostic.CA1827.severity=suggestion
dotnet_diagnostic.CA1828.severity=suggestion
dotnet_diagnostic.CA1829.severity=suggestion
dotnet_diagnostic.CA1835.severity=suggestion
dotnet_diagnostic.CA1836.severity=suggestion
dotnet_diagnostic.CA1837.severity=suggestion
dotnet_diagnostic.CA2011.severity=warning
dotnet_diagnostic.CA2012.severity=warning
dotnet_diagnostic.CA2013.severity=suggestion
dotnet_diagnostic.CA2015.severity=warning
dotnet_diagnostic.CA5350.severity=warning
dotnet_diagnostic.CA5351.severity=warning
dotnet_diagnostic.CA5359.severity=warning
dotnet_diagnostic.CA5360.severity=warning
dotnet_diagnostic.CA5363.severity=warning
dotnet_diagnostic.CA5364.severity=warning
dotnet_diagnostic.CA5365.severity=warning
dotnet_diagnostic.CA5384.severity=suggestion
dotnet_diagnostic.CA5397.severity=suggestion
dotnet_diagnostic.CA1801.severity=suggestion
dotnet_diagnostic.CA2208.severity=warning
dotnet_diagnostic.CA2211.severity=warning
dotnet_diagnostic.CA2219.severity=warning
dotnet_diagnostic.CA2241.severity=warning
dotnet_diagnostic.CA2245.severity=warning
dotnet_diagnostic.CA2247.severity=warning
dotnet_diagnostic.CA2248.severity=silent
dotnet_diagnostic.CA2249.severity=warning